<div class="jumbotron text-center">
  <h1 class="display-4">MEAN application</h1>
  <p class="lead">This is a basic MEAN stack application with authentication</p>
  <hr class="my-4">
  <p class="lead">

  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Node/Express backend</h3>
    <p>Express is a minimal and flexible Node.js web application framework
      that provides a robust set of features for web and mobile applications.</p>
  </div>

  <div class="col-md-4">
    <h3>Angular/Cli</h3>
    <p>The Angular CLI makes it easy to create an application that already works, right out of the box.
      It already follows our best practices!</p>
  </div>

  <div class="col-md-4">
    <h3>JWT Tokens</h3>
    <p>JSON Web Token (JWT) is an internet standard for creating JSON-based access tokens that assert some number of claims.</p>
  </div>
</div>
